<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-----------TITLE-------------------->
  <title>Mes Séries Favorites</title>



 <!---------------------------->
  <link rel="stylesheet" href="../styles/favoris.css">
  <link rel="stylesheet" href="../styles/header.css">

   <!--Font Family-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <ul class="nav-left">
      <li><a href="../index.html">Accueil</a></li>
      <li><a href="./movies.html">Films</a></li>
      <li><a href="../views/serie.html">Séries</a></li>
    </ul>
    <h1 class="logo">CineTech</h1>
    <div class="nav-right">
      <a href="../views/favoris.html"><button class="favoris-btn">Favoris</button></a> 
      <img src="../assets/icons/search.png" alt="search" class="search-icon">
    </div>
  </header>

  <main>
    <h1>Mes Séries Favorites</h1>
    <div id="serie-card"></div>
  </main>

  <footer>
    Créé par Sébastien, Lamine, Estéban.
  </footer>

  <script src="../js/favoris.js" defer></script>

</body>
</html>
