<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/movies.css">
    <!--Script JavaScript-->
    <script src="../js/favorite-movies.js"></script>
    <script src="../js/search-bar.js"></script>
    <!--Link CSS-->
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/movies.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/favorites-movies.css">
    <!--Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <!--Title Page-->
    <title>CineTech - Films Favoris</title>
</head>
<body>

    <header>
        <ul class="nav-left">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="../views/movies.html">Films</a></li>
            <li><a href="../views/serie.html">Séries</a></li>
        </ul>
        <a href="../index.html"><h1 class="logo">CineTech</h1></a>
        <div class="nav-right">
            <a href="../views/favorite-movies.html"><button class="favoris-btn">Favoris</button></a>
        </div>
    </header>

    <main>
        <section class="header-movies">
            <h2>Films - CineTech</h2>
            <img src="../assets/films-background.png" alt="background" class="background-image">
        </section>
        <section class="movies-favorites">
            <div class="movies-container"></div>
        </section>
    </main>




</body>
</html>