<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Détails de la série</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/details.css">
  <link rel="stylesheet" href="../styles/header.css">
 
</head>
<body>

  <header>
    <ul class="nav-left">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Films</a></li>
        <li><a href="../views/series.html">Séries</a></li>
    </ul>
    <h1 class="logo">CineTech</h1>
    <div class="nav-right">
      <span class="favortite-button" tabindex="0" data-toggle="tooltip" title="Voir vos favoris">
        <button class="favoris-btn" type="button" disabled>Favoris</button>
      </span>

    </div>
</header>

  <div class="container" id="serie-details">
    <p>...</p>
  </div>



  <footer>
    Créer par Sébastien, Lamine, Estéban.
  </footer>

<script src="../js/details.js"></script>
</body>
</html>
