<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Détails de la série</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../styles/details.css">
 <link rel="stylesheet" href="../styles/header.css">


 
</head>
<body>

  <header>
    <ul class="nav-left">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Films</a></li>
        <li><a href="../views/serie.html">Séries</a></li>
    </ul>
    <h1 class="logo">CineTech</h1>
    <div class="nav-right">
    <a href="../views/favoris.html">  <button class="favoris-btn">Favoris</button></a>  
        <img src="../assets/icons/search.png" alt="search" class="search-icon">
    </div>
</header>

    
    <main>
  <div class="container" id="serie-details">
    <p>...</p>
  </div>
</main>


  <footer>
    Créer par Sébastien, Lamine, Estéban.
  </footer>

<script src="../js/details.js" defer></script>

</body>
</html>
