<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cinetech</title>
  
  <link rel="stylesheet" href="../styles/serie.css" />
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/pagination.css">
  <link rel="stylesheet" href="../styles/search.css">
 <!--Font Family-->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap" rel="stylesheet">
  <!-- Pagination.js -->
  <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
  <link rel="stylesheet" href="https://pagination.js.org/dist/2.1.5/pagination.css">


</head>
<body>
  <header>
    <ul class="nav-left">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Films</a></li>
        <li><a href="../views/serie.html">Séries</a></li>
    </ul>
    <h1 class="logo">CineTech</h1>
    <div class="nav-right">
        <a href="../views/favoris.html"><button class="favoris-btn">Favoris</button></a>
        <img src="../assets/icons/search.png" alt="search" class="search-icon">
    </div>
</header>

<div class="search-bar-container hidden">
    <input type="text" id="searchInput" placeholder="Rechercher une série..." />
    <div id="suggestions" class="suggestions"></div>
</div>

  <main>
    <section class="baba">
      <div class="banner-content">
        <h2 class="section-title">Nos séries</h2>
      </div>
      <img src="../assets/images/films-background.png" alt="Bannière des séries" class="banner-image">
    </section>
    <section>
      <div id="serie-card" class="serie-card">
        <!--card will be inserted here by JS -->
      </div>
    </section>
 

    <div class="pagination">
      <button id="prev" class="pagination-button">Précédent</button>
      <span id="page-number">Page 1</span>
      <button id="next" class="pagination-button">Suivant</button>
    </div>

    <div id="suggestions" class="suggestions"></div>
  </main>

  <footer>
    Créé par Sébastien, Lamine, Estéban.
  </footer>

  <script src="../js/serie.js" defer></script>
  <script src="../js/search.js" defer></script>
</body>
</html>
