:root {
    --primary-color: #151515;
    --secondary-color: #F6E41F;
    --primary-body: "Roboto", sans-serif;
    --secondary-body: "Racing Sans One", sans-serif;
}

header {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 70px;
}

.logo{
    font-family: var(--secondary-body);
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    width: 35%;
    gap: 15px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    width: 30%;
}

.nav-left a{
    text-decoration: none;
    color: white;
    font-family: var(--primary-body);
    font-weight: bold;
    font-size: 1.1rem;
}

.favoris-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-family: var(--primary-body);
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 10px 45px;
    cursor: pointer;
}

.searchIcon{
    user-select: none;
    cursor: pointer;
    width: 35px;
    height: auto;
}


  