:root {
    --primary-color: #151515;
    --secondary-color: #F6E41F;
    --primary-body: "Roboto", sans-serif;
    --secondary-body: "Racing Sans One", sans-serif;
  }
.search-bar-container {
    position: relative;
    background-color: #111;
    padding: 10px 20px;
    border-top: 1px solid #333;
    display: none;
    z-index: 12;
    width: 800px;
  }
  
  .search-bar-container.hidden {
    display: none;
  }
  
  .search-bar-container.visible {
    display: block; 
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: var(--secondary-color);
  }
  
  #searchInput::placeholder {
    color: #888;
  }
  
 
  .suggestions {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #000000bd;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
    display: none; 
font-family: var(--secondary-body);

  }
  
  .suggestions .suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #444;
   
  
  }
  
  .suggestions .suggestion-item:hover {
    background-color: #020202;
  }
  
  .suggestions .suggestion-item img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .suggestions .suggestion-item span {
    color: white;
    font-size: 1rem;
  }