
#voirPlusBtnContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Bouton "Voir plus" */
  #voirPlusBtn {
    background-color: #e7e428; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #voirPlusBtn:hover {
    background-color: #dfdc2dda; 
    transform: scale(1.05); 
  }
  
  #voirPlusBtn:active {
    background-color: #f3e037cb; 
  }
  